# Ganti dengan token bot Telegram kamu yang baru
TELEGRAM_BOT_TOKEN=XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Telegram Chat ID admin (cara dapat: lihat panduan di README)
ADMIN_CHAT_ID=XXXXXXXXXX

# Firebase UID admin (dari Firestore collection users)
ADMIN_UID=6UCC5Xho5MU2R37u9oZE45YYbsV2
